# no point in doing this because cairoDevice::asCairoDevice calls 'require(RGtk2)'
#import(RGtk2)
#import(cairoDevice)
import(lattice)
import(grid)

# the main function
export(
	playwith
)

# event handlers 
exportPattern("^\\.plotAndPlay_")

# supporting functions
export(
	plotAndPlayButtons,
	plotAndPlayBasicButtons,
	quickTool,
	plotAndPlayGetCurrState,
	plotAndPlaySetCurrState,
	plotAndPlayUpdate,
	plotAndPlayDoFocus,
	plotAndPlayMakePrompt,
	plotAndPlayUnmakePrompt,
	plotAndPlaySetPrompt,
	plotAndPlayGetToolbar,
	plotAndPlayGetDA
)

# other GTK GUI stuff
export(
	guiDo,
	errorDialog,
	infoDialog,
	questionDialog,
	guiTextInput,
	editAsText,
	setTextview,
	addTextview,
	getTextviewText,
	setTextviewMonospace,
	choose.file.save,
	get.extension,
	get.stem
)

